body {
    background-image: linear-gradient(90deg, #fefefe80, #efefef);
        /* background-attachment: fixed; */
        /* background-image: radial-gradient(45deg, blue, #fefefe) */
        /* justify-items: auto; */
}
img {
    border-radius: 50%;
    margin: 0;
    margin-top: 4%;
    width: 200px;
    height: 200px;
    /* justify-content: center;  */
    justify-self: auto;
    margin-bottom: 1%;
} 